{% macro render_field(field, att, invalid_msg='', valid_msg='', con_id='') %}
    <dt>{{ field.label }}</dt>
    <div class="input-group mb-3" style="">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">{{ att }}</span>
  </div>
{#  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">#}



{#            {{ render_field(form.username, **{"class":"form-control ker", "aria-describedby":"basic-addon1"}) }}#}

        {{ field(**kwargs) | safe }}
    <div class="invalid-feedback">{{ invalid_msg }}</div>
    <div class="valid-feedback">{{ valid_msg }}</div>
    </div>
        {% if con_id %}
        <div id={{ con_id }} style="margin:10px"></div>
        {% endif %}

{#    </div>#}
    {% if field.errors %}
        <ul class="errors">
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}