<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blood Bank</title>
    <meta name = "viewport" content ="width=device-width, initial-scale=1 ">
    <link href="{{ url_for('static', filename ='css/bootstrap.min.css') }} " rel = "stylesheet" >
    <link rel="shortcut icon" href = "{{  url_for('static', filename ='images.jpeg')  }}" >
</head>



<header>


            <button type="button" class=" btn btn-success"  data-toggle="modal" data-target="#myModal"   style="
            width: 15%;   margin: 3px 42% 3px 43%;">
            <img src="{{ url_for('static', filename ='images.jpeg') }}" height="15"> Donate Blood Now </button>




  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

                <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

                <div class="modal-body">
          Modal body..
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>






    <nav class="navbar fixe navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="/">
            <img style="max-width: 200px; margin-top: 7px;" src="{{ url_for('static', filename ='images/blood_t.jpg') }}">
        </a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Contributions</a> </li>
            <li class="nav-item"><a class="nav-link" href="/register/"> Register </a></li>
            <li class="nav-item" ><a class="nav-link" href="/login/">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Contact </a></li>

        </ul>

       <!-- <ul class="nav nav-pills" role="tablist"> -->

            <!--<form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search blood group ..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">🔍</button>
            </form> -->
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control" list="blood groups" name="blood group" placeholder="Search blood group ..." aria-label="Username" aria-describedby="basic-addon1">
                        <datalist id="blood groups">
                            <option value="A +ve">
                            <option value="A -ve">
                            <option value="B +ve">
                            <option value="B -ve">
                            <option value="AB +ve">
                            <option value="AB -ve">
                            <option value="A1 +ve">
                            <option value="A1 -ve">
                            <option value="A2 +ve">
                            <option value="A2 -ve">
                            <option value="A1B +ve">
                            <option value="A1B -ve">
                            <option value="A2B +ve">
                            <option value="A2B -ve">
                            <option value="O +ve">
                            <option value="O -ve">
                        </datalist>
                    <div class="input-group-prepend">
                    <!--    <span class="input-group-text" id="basic-addon1">🔍</span> -->
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">🔍</button>
                     </div>
                </div>
            </form>


</nav>

</header>

<body>
<div class = "container-fluid" align="center" style="min-height: 100%">


{% block body %}{% endblock %}

</div>




       <!-- </ul> -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>