{% extends "header.html" %}

{% block body %}



				<h1 >After You Donate, We Want You To Know&#8230;</h1>






	<h5>Some simple suggestions to make you feel good after you give blood!</h3>
<ul><li>Eat well and increase your fluid intake for the next 24-48 hours.</li>

<li>Do not smoke for thirty minutes and avoid smoking areas.</li>

<li>Avoid drinking alcohol for a minimum of 4 hours.</li>

<li>Avoid strenuous physical activity and heavy lifting for about 2 hours.</li>

<li>Remove the Coban bandage after two hours.</li>
</ul>

<p>&nbsp;</p>

<h5>If you should become light-headed or dizzy after donating, please follow these instructions:</strong></h2>
<ul><li>If driving a car, pull over immediately and stop.</li>

<li>Lie Down.</li>

<li>Loosen collar or neckwear.</li>

<li>If possible, seek a cool place and drink cool liquids.</li></ul>

<p>&nbsp;</p>

<h5>If symptoms worsen, get to a nearby hospital as soon as possible.</h5>


{% endblock  %}